<!DOCTYPE html>
<!--suppress XmlInvalidId -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Register</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Navbar</a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler white"
                data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link active text-white" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="available_books">Available Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="my_books">My Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="book_register">New Book Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--Form-->
<div class="container my-5 p-5" style="border: 1px solid black">
    <h4 class="text-center">Edit Book</h4>
    <form class="col-md-4 offset-md-4" method="post" th:action="@{/save}" th:object="${book}">
        <input type="hidden" name="id" th:value="${book.get().id}">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label><label>
            <input class="form-control" name="title" th:value="${book.get().title}" type="text"></label>
        </div>
        <div class="mb-3">
            <label class="form-label" for="author">Author</label>
            <label>
                <input class="form-control" name="author" th:value="${book.get().author}" type="text"></label>
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">Price</label>
            <label>
                <input class="form-control" name="price" th:value="${book.get().price}" type="text"></label>
        </div>
        <center>
            <button class="btn btn-primary" type="submit">Update</button>
        </center>
    </form>
</div>

<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>